.statistics {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  margin-top: 30px;
}

.title {
  text-transform: uppercase;
  padding-top: 20px;
}

.statList {
  display: flex;
  list-style: none;
  /* text-align: center; */
  margin-top: 30px;
  border-radius: 10px;
  /* align-items: center;
  justify-content: center; */
  padding: 0px;
}

.label {
  display: flex;
      justify-content: center;
}

.item{
    width: 60px;
    height: 60px;
    color: aliceblue;
     text-shadow: 1px 1px 0 black;
     justify-content: center;
}